.taskAllBox {
  display: flex;
  justify-content: space-around;
}
.Taskbox {
  width: 24%;
}

.done {
  background: rgb(147, 145, 145);
  width: 100%;
  padding: 10px;
}
.todoList {
  height: 100px;
  color: white;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(48, 9, 242, 0.767) 82%,
    #007bff 100%
  );
  margin-bottom: 10px;
  border-radius: 25px;
  padding-top: 10px;
  padding-left: 10px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}
.progressList {
  height: 100px;
  color: white;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(132, 138, 10, 0.883) 82%,
    #ffc107 100%
  );
  margin-bottom: 10px;
  border-radius: 25px;
  padding-top: 10px;
  padding-left: 10px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}
.testList {
  height: 100px;
  color: white;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 117, 121, 0.8827906162464986) 82%,
    #17a2b8 100%
  );
  margin-bottom: 10px;
  border-radius: 25px;
  padding-top: 10px;
  padding-left: 10px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}
.completedList {
  height: 100px;
  color: white;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(34, 100, 6, 0.883) 82%,
    #28a745 100%
  );
  margin-bottom: 10px;
  border-radius: 25px;
  padding-top: 10px;
  padding-left: 10px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}
.todoList:hover {
  box-shadow: 1px 1px 10px 2px #007bff;
}
.progressList:hover {
  box-shadow: 1px 1px 10px 2px #ffc107;
}
.testList:hover {
  box-shadow: 1px 1px 10px 2px #17a2b8;
}

.completedList:hover {
  box-shadow: 1px 1px 10px 2px #28a745;
}
.todoListBox {
  min-height: 386px;
  max-height: 650px;
  overflow: auto;
}
.progressListBox {
  min-height: 386px;
  max-height: 650px;
  overflow: auto;
}
.testListBox {
  min-height: 386px;
  max-height: 650px;
  overflow: auto;
}
.completedListBox {
  min-height: 386px;
  max-height: 650px;
  overflow: auto;
}
.todoListBox:hover {
  box-shadow: 1px 1px 10px 2px #5e5ee1;
}
.progressListBox:hover {
  box-shadow: 1px 1px 10px 2px #ffc107;
}
.testListBox:hover {
  box-shadow: 1px 1px 10px 2px #17a2b8;
}

.completedListBox:hover {
  box-shadow: 1px 1px 10px 2px #28a745;
}
.heightOfElement {
  height: 60px;
}

/* width */
.todoListBox::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.todoListBox::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
.todoListBox::-webkit-scrollbar-thumb {
  background: #007bff; 
  border-radius: 10px;
}

/* Handle on hover */
.todoListBox::-webkit-scrollbar-thumb:hover {
  background: #0060c6; 
}

/* width */
.progressListBox::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.progressListBox::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
.progressListBox::-webkit-scrollbar-thumb {
  background: #ffc107; 
  border-radius: 10px;
}

/* Handle on hover */
.progressListBox::-webkit-scrollbar-thumb:hover {
  background: #bb8d02; 
}

/* width */
.testListBox::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.testListBox::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
.testListBox::-webkit-scrollbar-thumb {
  background: #17a2b8; 
  border-radius: 10px;
}

/* Handle on hover */
.testListBox::-webkit-scrollbar-thumb:hover {
  background: #0291a7; 
}


/* width */
.completedListBox::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.completedListBox::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
.completedListBox::-webkit-scrollbar-thumb {
  background: #28a745; 
  border-radius: 10px;
}

/* Handle on hover */
.completedListBox::-webkit-scrollbar-thumb:hover {
  background: #029724; 
}

